.section {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) min-content;
  justify-content: space-between;
  min-height: 100vh;
}

.heroSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.logoText {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(max-content, min-content) max-content;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  object-fit: contain;
}

.logoText h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0C101E;
  margin: 0;
  padding: 0;
}

.mainText {
  padding: 3rem;
  font-size: 1.50rem;
  color: #0C101E;
}

.mainText p {
  margin: 1rem 0;
}

