.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  padding: 2rem;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.5);

    h2 {
      font-size: 60px;
      font-weight: 400;
      text-align: left;
    }
  }

  .right {
    display: grid;
    grid-template-rows: min-content max-content;
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem;
    width: 100%;

    .visualContainer {
      display: grid;
      grid-template-rows: 1fr 2fr;

      .legend {

        .legendItem {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem;
          color: black;

          .legendColor {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  
}