.section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  padding: 0 2rem;
}

.logoText {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(max-content, min-content) max-content;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  object-fit: contain;
}

.logoText h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0C101E;
  margin: 0;
  padding: 0;
}

.mainText{
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  font-size: 1.50rem;
  color: #0C101E;
}

.mainText p {
  margin: 1rem 0;
}

.form {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
  color: transparent;
}

.input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10rem;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #0C101E;
  font-size: large;
}

.inputError {
  width: 100%;
  padding: 12px;
  border: 1px solid red;
  border-radius: 10rem;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #0C101E;
  font-size: large;
}

.inputError {
  width: 100%;
  padding: 12px;
  border: 1px solid green;
  border-radius: 10rem;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #0C101E;
  font-size: large;
}

.submitButton {
  background-color: #0C101E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50rem;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.contactArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}
