.footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-around;
  padding: 2rem;
  place-items: center;

  .logo {
    object-fit: contain;
    width: 75%;
    height: auto;
  }

  .links > *{
    text-decoration: none;
    color: inherit;
  }
}