.section {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) min-content;
  justify-content: space-between;
}

.heroSection {
  width: 100%;
}

.logoText {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(max-content, min-content) max-content;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  object-fit: contain;
}

.logoText h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #0C101E;
  margin: 0;
  padding: 0;
}

.mainText {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  width: 100%;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  font-size: 1.50rem;
  color: #0C101E;
  font-family: "Fredoka One";
}


.discText {
  h2 {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    padding: 0 1rem;
    
  }
}

.menuComp {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {

  .logoText h1 {
    font-size: 2rem;
  }

  .mainText {
    font-size: 1.25rem;
  }

  .menuComp {
    width: fit-content;
  }

}