.section{
  overflow: hidden;
  

  .mainText {
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
    height: 100vh;

    .mainTopText{
      overflow: hidden;
      padding: 4rem 2rem;

      h1{
        font-size: 72px;
        font-weight: 400;
        text-align: left;
      }

    }

    .mainBottomText {
      padding: 1rem 2rem;
      
      h3 {
        font-size: 20px;
        font-weight: 400;
      }
    }

    

    .headline{
      font-size: 2rem;
    }

      
    

    
  }

}