.contactHeadContainer{
  display: flex;
  flex-direction: row;
  padding: 0 5em;
}

.textContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.textContainer > h2{
  font-size: 5em;
  flex-grow: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}

.textContainer > h3{
  font-size: 2em;
  flex-grow: 1;
  display: grid;
  align-items: flex-start;
  justify-content: center;
}

.socialLinks{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
}