@import url('https://fonts.googleapis.com/css2?family=Spartan&family=ZCOOL+KuaiLe&display=swap');

.designerContainer{
  padding: 1rem 5em;
  font-size: 5em;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.frontEndText{
  font-family: 'ZCOOL KuaiLe', cursive;
}

.fullstackText{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.image{
  width: 415px;
  height: 100%;
  padding: 0 0.5em;
}