/* @import url('https://fonts.googleapis.com/css2?family=Spartan&family=ZCOOL+KuaiLe&display=swap'); */

@font-face{
  font-family: ZCOOL KuaiLe;
  src: url('../public/fonts/ZCOOL_KuaiLe/ZCOOLKuaiLe-Regular.ttf');
  font-display: swap;
}

.designerContainer{
  font-size: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  place-items: center;
  height: 50vh;
}

.frontEndText{
  font-family: 'ZCOOL KuaiLe', cursive;
}

.image{
  position: relative;
  width: 100%;
}

@media all and (max-width: 700px){
  .image{
    display: none;
  }

  .designerContainer{
    font-size: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    place-items: center;
    height: 20rem;
  }
}