.footerContainer{
  background-color: black;
  color: white;
  height: 100px;
  font-size: 1em;
  flex-direction: row;
  display: flex;
  gap: 4em;
  justify-content: space-between;
  padding: 0 4em;
  margin-top: 2em;
  position: relative;
}

.copywrite{
  display: flex;
  align-items: center;
}