@font-face{
  font-family: Spartan;
  src: url('../public/fonts/Spartan/Spartan-VariableFont_wght.ttf');
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Spartan', sans-serif;
  font-weight: 350;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background-color: transparent;
  border: none;
  padding: 0.25em;
  border-radius: 5px;
}

button:hover{
  background-color: black;
  color: white;
}

/* 
* Scroll Bar
*/

/* width */
::-webkit-scrollbar {
  width: 1em;
  min-width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}