.navLinks{
  height: inherit;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.navLinks > *:hover{
  transform: translateY(-0.15em);
}

.navLinks > *{
  height: 100%;
  display: grid;
  align-items: center;
  transition: all 0.3s ease;
}