.navLinks{
  height: inherit;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.navLinks > *:hover{
  transform: translateY(-0.15em);
  transition: all 0.3s ease;
}

.navLinks > *:focus:active{
  color: greenyellow;
  transition: all 5ms ease;
}

.navLinks > *{
  height: 100%;
  display: grid;
  align-items: center;
  
}

@media all and (max-width: 700px){
  .navLinks{
    height: inherit;
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    align-items: center;
  }
}