.portfolioHeadContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.textContainer{
  display: grid;
  grid-auto-rows: auto;

}

.textContainer > h2{
  font-size: 5em;
  flex-grow: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}

.textContainer > h3{
  font-size: 3em;
  flex-grow: 3;
  display: grid;
  align-items: flex-start;
  justify-content: center;
}

.textContainer > p{
  font-size: 1.25em;
  flex-grow: 3;
  display: block;
}


.image{
  width: auto;
  max-width: 50%;
  height: 100%;
  position: relative;
}

@media all and (max-width: 700px){

  .portfolioHeadContainer{
    display: grid;
    grid-template-columns: 1fr;  
  }
  .image{
    display: none;
  }
}