.projectSampleContainer{
  padding: 2em 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.headline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 1em;
  font-size: 2em;
}

.projectDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

