.projectDetails{
  padding: 0 5em;
}

.projectDetailsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid black;
  padding: 3em 0;
}

.projectDetailsContainerTextArea{
  display: grid;
  place-self: center;
}

.projectDetailsContainerTextArea h2{
  font-size: 4em;
}

.headerImage{
  position: relative;
}

.projectDetailsDiscription{
  margin: 2em 0;
}

.projectDetailsDiscription h4{
  font-size: 2em;
}

.projectDetailsHeading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;
}

.projectDetailsTechArea{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2em;
}